# Verständnis des OneHot Encoders

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from seaborn import load_dataset

In [3]:
df = load_dataset('penguins')
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [6]:
ohe = OneHotEncoder()
transformed = ohe.fit_transform(df[['island']])
print(transformed.toarray())

[[0. 0. 1.]
 [0. 0. 1.]
 [0. 0. 1.]
 ...
 [1. 0. 0.]
 [1. 0. 0.]
 [1. 0. 0.]]

In [7]:
print(ohe.categories_)

[array(['Biscoe', 'Dream', 'Torgersen'], dtype=object)]

In [10]:
from sklearn.compose import make_column_transformer
import pandas as pd
transformer = make_column_transformer(
    (OneHotEncoder(), ['island','sex']),
    remainder='passthrough'
)

transformed = transformer.fit_transform(df)
transformed_df = pd.DataFrame(
    transformed,
    columns=transformer.get_feature_names()
)

transformed_df

D:\Lehre\Zeitreihen_Analyse_und_Prädiktion\Code\venv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,onehotencoder__x0_Biscoe,onehotencoder__x0_Dream,onehotencoder__x0_Torgersen,onehotencoder__x1_Female,onehotencoder__x1_Male,onehotencoder__x1_nan,species,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
0,0.0,0.0,1.0,0.0,1.0,0.0,Adelie,39.1,18.7,181.0,3750.0
1,0.0,0.0,1.0,1.0,0.0,0.0,Adelie,39.5,17.4,186.0,3800.0
2,0.0,0.0,1.0,1.0,0.0,0.0,Adelie,40.3,18.0,195.0,3250.0
3,0.0,0.0,1.0,0.0,0.0,1.0,Adelie,NaN,NaN,NaN,NaN
4,0.0,0.0,1.0,1.0,0.0,0.0,Adelie,36.7,19.3,193.0,3450.0
...,...,...,...,...,...,...,...,...,...,...,...
339,1.0,0.0,0.0,0.0,0.0,1.0,Gentoo,NaN,NaN,NaN,NaN
340,1.0,0.0,0.0,1.0,0.0,0.0,Gentoo,46.8,14.3,215.0,4850.0
341,1.0,0.0,0.0,0.0,1.0,0.0,Gentoo,50.4,15.7,222.0,5750.0
342,1.0,0.0,0.0,1.0,0.0,0.0,Gentoo,45.2,14.8,212.0,5200.0
343,1.0,0.0,0.0,0.0,1.0,0.0,Gentoo,49.9,16.1,213.0,5400.0